[submodule "05-Firmware/irrigation/Sources/libohiboard"]
	path = 05-Firmware/irrigation/Sources/libohiboard
	url = ../../ohilab/libohiboard.git
[submodule "05-Firmware/irrigation/Sources/cli"]
	path = 05-Firmware/irrigation/Sources/cli
	url = ../../Loccioni-Electronic/cli.git
[submodule "05-Firmware/irrigation/Sources/timer"]
	path = 05-Firmware/irrigation/Sources/timer
	url = ../../warcomeb/timer.git
[submodule "05-Firmware/irrigation/Sources/sdcard"]
	path = 05-Firmware/irrigation/Sources/sdcard
	url = ../../warcomeb/sdcard.git
[submodule "05-Firmware/irrigation/Sources/parse-ini"]
	path = 05-Firmware/irrigation/Sources/parse-ini
	url = ../../ohilab/parse-ini.git
[submodule "05-Firmware/irrigation/Sources/fat-mla"]
	path = 05-Firmware/irrigation/Sources/fat-mla
	url = ../../warcomeb/fat-mla.git
